<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SAPPHIRE</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

  </head>

  <body>
    <div class="container">
        <h1 class="display-4">SAPPHIRE</h1>
        <h5 id="description">Simple Aligner for Phrasal Paraphrase with Hierarchical Representation</h5>
        {% if sent_a and sent_b %}
          <h4 id="result">Result</h4>
          <dl class="row">
            <dt class="col-sm-2">Sentence A</dt>
            <dd class="col-sm-9">{{ sent_a }}</dd>            
            <dt class="col-sm-2">Sentence B</dt>
            <dd class="col-sm-9">{{ sent_b }}</dd>          
            <!-- <dt class="col-sm-2">Alignment</dt> -->
          </dl>
          
          <!-- <div class="container"> -->
            {% set mid = (phrase_alignment | length) / 2 %}
            {% set mid = mid | int %}
            <div class="row align-items-start">
              <div class="col-sm-2">Sentence A</div>
              {% for al in phrase_alignment[:mid:] %}
                <div class="col" id="phrase{{ loop.index }}">{{ al }}</div>
              {% endfor %}
            </div>
            <div class="row align-items-end">
              <div class="col-sm-2">Sentence B</div>
              {% for al in phrase_alignment[mid::] %}
                <div class="col" id="phrase{{ loop.index }}">{{ al }}</div>
              {% endfor %}
            </div>
          <!-- </div> -->
          <!-- <div class="cp_tooltip"><span data-tooltip="{{ sent_b }}" class="cp_tooltiptext">{{ sent_b }}</span></div> -->
          <hr>
        {% endif %}

        <form action="/align" method="post">
          <label>Input a sentence pair</label>
          <div class="form-group row">
            <div class="col-sm-9">
              <input type="text" class="form-control" id="sent_a" name="sent_a" placeholder="Sentence A" required>
            </div>
          </div>        
          <div class="form-group row">
            <div class="col-sm-9">
              <input type="text" class="form-control" id="sent_b" name="sent_b" placeholder="Sentence B" required>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Enter</button>
        </form>
    </div>
  </body>

</html>