{% extends "layout.html" %}

{% block content %}

  <form action="/align" method="post">
    <label>Input a sentence pair</label>
    <div class="form-group">
      <div class="col-sm-9">
        <textarea type="textarea1" class="form-control" id="sent_a" name="sent_a" placeholder="Sentence A" required></textarea>
      </div>
    </div>        
    <div class="form-group">
      <div class="col-sm-9">
        <textarea type="textarea1" class="form-control" id="sent_b" name="sent_b" placeholder="Sentence B" required></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enter</button>
  </form>

{% endblock %}